@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {line-height: 150% !important; box-sizing: border-box !important;}
body {display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; transition: .3s;}

.input {
    visibility: hidden;
    &:checked + .label {
        background-color: #46CF73;
        .circle {
            background-color: #fff;
        }
    }
    &:checked + .label .circle {
        animation: toggleOn .3s linear forwards;
    }
}

.label {
    width: 70px;
    height: 40px;
    background-color: #84919a;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    .circle {
        width: 34px;
        background-color: #fff;
        height: 34px;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        top: 3px;
        animation: toggleOff .3s linear forwards;
    }
}

@keyframes toggleOn {
    0% {transform: translateX(0);}
    100% {transform: translateX(30px);}
}

@keyframes toggleOff {
    0% {transform: translateX(30px);}
    100% {transform: translateX(0);}
}