@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {line-height: 150% !important; box-sizing: border-box !important;}
body {font-family: 'Roboto', sans-serif; width: 100%; height: 100vh; overflow: hidden; background-color: #E1E6EB;}

.container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background:#E1E6EB;
        box-shadow: 7px 7px 14px #bbbfc3,
                    -7px -7px 14px #ffffff;
        
        border-radius: 50%;
        margin: 0 15px;
        border: none;
        min-width: 100px;
        min-height: 100px;
        color: #7F8999;
        text-transform: uppercase;
        font-weight: 300;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            box-shadow:  13px 13px 26px #b0b3b7,
                         -13px -13px 26px #ffffff;
        }
        &:active {
            background: linear-gradient(145deg, #cbcfd4, #f1f6fb);
            box-shadow:  13px 13px 26px #b0b3b7,
                        -13px -13px 26px #ffffff;
        }
    }
}